LLOYD_VOICE=alan
LLOYD_VOICE_LENGTH=1.0
LLOYD_VOICE_NOISE=1.0
LLOYD_VOICE_NOISE_W=1.0
LLOYD_VOICE_VOLUME=1.0
LLOYD_VOICE_SPEAKER=
LLOYD_EDGE_VOICE=en-GB-RyanNeural
LLOYD_EDGE_RATE=-4%
LLOYD_EDGE_PITCH=-2Hz